@{
    ViewBag.Title = "Home Page";
}
<style>
    body {
        background-image: url(../../Resurse/background.jpg);
        background-size: cover;
    }
</style>

<div class="jumbotron" style="background-color: white; filter: opacity(75%);">
        <h1>CNS Shop</h1>
</div>

