@{
    ViewBag.Title = "About";
}
<style>
    body {
        background-image: url(../../Resurse/background.jpg);
        background-size: cover;
    }
</style>


<h1>Proiect realizat de Cenusa Stefan</h1>
